.button {
  font-weight: 600;
  font-family: $primary-font;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;

  &_faded {
    opacity: 0.5;
    transition: opacity 0.3s ease-in;

    &:hover {
      opacity: 1;
    }
  }

  &_active {
    color: $white;
    opacity: 1;
  }

  &_stretched {
    display: flex;
    align-items: center;
    width: auto;
  }

  &_with-arrow {
    position: relative;
    padding-right: 1.5em;

    &::after {
      position: absolute;
      top: 40%;
      right: 0;
      display: block;
      margin-left: 10px;
      border: 5px solid transparent;
      border-top: 5px solid currentColor;
      content: "";
    }
  }

  &_text {
    color: $color-sixth;
    font-weight: 600;
    font-size: 1.2rem;
    text-transform: uppercase;
  }

  &_solid,
  &_transparent {
    text-align: center;
    border-radius: 6px;
  }

  &_solid {
    color: $white;
    background-color: $color-primary;
  }

  &_transparent {
    background-color: transparent;
  }

  &_primary {
    color: $color-primary;
    border: 2px solid currentColor;
  }

  &_secondary {
    color: $color-secondary;
    border: 1px solid currentColor;
    border-radius: 4px;
  }

  &_size_normal {
    width: 11.56em;
    font-size: 1.6rem;
    line-height: 3.125em;
  }

  &_size_small {
    width: 5rem;
    font-size: 1.2rem;
    line-height: 2.5rem;
  }

  &__counter {
    position: absolute;
    top: -30%;
    right: -30%;
    width: 14px;
    height: 14px;

    &_primary {
      color: $white;
      font-weight: 700;
      font-size: 0.8em;
      font-family: $primary-font;
      line-height: 14px;
      text-align: center;
      background-color: $color-alert;
      border-radius: 3px;
    }
  }

  &__icon {
    &_centered {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &_primary {
      fill: $white;
    }

    &_secondary {
      fill: $color-seventh;
    }

    &_size_normal {
      width: 18px;
      height: 18px;
    }

    &_size_bigger {
      width: 25px;
      height: 25px;
    }
  }

  &__text {
    margin-right: 1.5em;

    &_primary {
      color: $white;
      font-weight: 600;
      font-size: 1.4rem;
      font-family: $secondary-font;
    }
  }
}
