.chat {
  width: 100%;
  font-size: 1rem;

  &_mobile {
    max-width: 35rem;
  }

  &__main {
    padding: 0.6rem 2rem 0;
  }

  &__user-avatar {
    width: 3.2rem;
    height: 3.2rem;
    margin-right: 1.2rem;

    &_circle {
      border-radius: 50%;
    }
  }

  &__menu {
    margin-left: auto;
  }

  &__message {
    position: relative;

    &.message_in {
      margin-top: 2.35rem;

      & + .message_out {
        margin-top: 3.6rem;
      }
    }

    &.message_out {
      margin-top: 2.35rem;

      & + .message_in {
        margin-top: 3.6rem;
      }
    }
  }

  &__separator {
    position: relative;
    margin-top: 1.7rem;

    & + .chat__message {
      margin-top: 1.7rem;
    }
  }
}
