.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;

  &_primary {
    background-color: $color-fifth;
  }

  &_secondary {
    background-color: $white;
  }

  &_top-bordered {
    border-top: 1px solid $color-eleventh;
  }
}
