.header {
  &_flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &_with-space {
    padding: 3rem 2.5rem 4.5rem;
  }

  &_minimized {
    height: 5rem;
    padding-right: 2.5rem;
    padding-left: 2.5rem;
  }

  &_primary {
    background-color: $color-primary;
  }

  &_transparent {
    background-color: $white;
    opacity: 0.95;
  }

  &_bottom-bordered {
    border-bottom: 0.1rem solid $color-eleventh;
  }

  &__top {
    position: relative;
    width: 100%;
    height: 7.5rem;

    &_primary {
      display: flex;
      align-items: center;
      background-color: $color-primary;
    }
  }

  &__logo {
    margin-top: 0.3rem;
  }
}
