.item {
  display: flex;
  align-items: center;

  &__avatar {
    position: relative;
    width: 4.8rem;
    height: 4.8rem;
    margin-right: 2em;

    &_circle {
      img {
        border-radius: 50%;
      }
    }

    &_online {
      &::after {
        position: absolute;
        top: 77%;
        right: 7%;
        display: block;
        width: 0.8rem;
        height: 0.8rem;
        background-color: $color-success;
        border: 2px solid $white;
        border-radius: 50%;
        content: '';
      }
    }
  }

  &__user-data {
    max-width: 13rem;
    margin-right: 2.5rem;

    &_primary {
      display: flex;
      flex-direction: column;
    }
  }

  &__user-name {
    position: relative;

    &_primary {
      color: $color-quaternary;
      font-weight: 600;
      font-size: 1.6rem;
      letter-spacing: 0.005em;
    }

    &_mobile {
      padding-right: 1em;

      &::after {
        position: absolute;
        top: 50%;
        right: 0;
        display: block;
        width: 0.6rem;
        height: 1.1rem;
        background-image: url('./img/following/mobile-icon.svg');
        background-size: 100%;
        transform: translateY(-50%);
        content: '';
      }
    }
  }

  &__user-status {
    &_primary {
      color: $color-secondary;
      font-weight: normal;
      font-size: 1.4rem;
      letter-spacing: 0.005em;
    }
  }

  &__button {
    margin-left: auto;
  }

  &__graphic {
    margin-right: 2.5rem;

    &_primary {
      display: flex;
      flex-direction: column;
      align-items: center;
      align-self: stretch;
      justify-content: space-between;
    }
  }

  &__graphic-icon {
    width: 2rem;

    &_primary {
      fill: $black;
      fill-opacity: 0.35;
    }
  }

  &__v-line {
    width: 20px;
    height: calc(100% - 30px);
    min-height: 15px;

    &_primary {
      stroke: $black;
      stroke-opacity: 0.12;
    }
  }

  &__feed-info {
    padding-bottom: 1rem;
    color: $color-eighth;
    font-weight: normal;
    font-size: 1.4em;
    line-height: 1.5;
    letter-spacing: 0.01em;

    p {
      margin: 0;
    }

    a {
      color: $color-primary;
      text-decoration: none;
    }
  }

  &__text {
    margin-bottom: 1rem;
  }

  &__thumb {
    position: relative;
    margin: 0 0.5rem 0 0;
  }

  &__shared-link {
    height: 5rem;
    margin-top: 2rem;
    padding-left: 1.3rem;
  }
}
