.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;

  &_size {
    &_small {
      width: 6rem;
    }

    &_md {
      width: 8.4rem;
    }
  }

  &__button {
    position: relative;
  }

  &__item {
    position: relative;
    width: 75px;
    height: 75px;

    &_centered {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &_right {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      padding-right: 2.4em;
    }

    &_left-bordered {
      border-left-color: darken($color: $color-primary, $amount: 10);
      border-left-width: 1px;
      border-left-style: solid;
    }

    &_stretched {
      flex-grow: 1;
    }
  }
}
