.select {
  width: 2rem;
  height: 2rem;
  cursor: pointer;

  & > select {
    display: none;
  }

  &__list {
    margin-left: 5rem;

    &_flex {
      display: flex;
      width: min-content;
    }
  }

  &__emoji {
    width: 20px;
    height: 20px;
    margin-right: 0.6rem;
  }
}
