.shared-link {
  display: flex;
  border-left: 0.2rem solid $color-primary;

  &__thumb {
    position: relative;
    flex-shrink: 0;
    margin: 0 1.7rem 0 0;
  }

  span {
    display: block;
  }

  &__title {
    margin-bottom: 0.5rem;

    &_primary {
      color: $color-primary;
      line-height: 1;
    }
  }

  &__text {
    &_primary {
      color: $color-eighth;
      line-height: 1.3;
    }
  }
}
