.ui-kit {
  padding: 2rem;
  background-color: $body-bgr-color;

  &__header {
    margin-bottom: 5rem;
  }

  &__main {
    margin-bottom: 12rem;
  }

  &__user-card {
    margin-bottom: 5rem;
  }

  &__container {
    margin-bottom: 5.1rem;
  }

  &__dialogues {
    max-height: 81.1rem;
  }
}
