.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  max-width: 42.5rem;
  font-size: 1rem;

  &_left-bordered {
    padding-right: 3rem;
    border-right: 0.1rem solid darken($color: $white, $amount: 10%);
  }

  &__avatar {
    margin-right: 2.8rem;

    &_primary {
      width: 10rem;
      height: 10rem;
    }
  }

  &__name {
    margin: 0 0 0.8rem;

    &_primary {
      color: $color-quaternary;
      font-weight: 600;
      font-size: 2.4rem;
      line-height: 1;
    }

    &_approved {
      position: relative;
      display: inline-block;
      padding-right: 2.2rem;

      &::after {
        position: absolute;
        top: 60%;
        right: 0;
        display: block;
        width: 1.4rem;
        height: 1.4rem;
        background-image: url(img/user-card/approved-icon.svg);
        background-size: 100%;
        transform: translateY(-50%);
        content: "";
      }
    }
  }

  &__status {
    margin: 0;

    &_primary {
      color: $color-tertiary;
      font-size: 1.4rem;
      line-height: 1.7;
    }
  }
}
