.user-card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 4rem 5rem 4.2rem;

  &__user {
    margin-right: 3.7rem;
  }

  &__stats {
    flex-grow: 1;
    margin-right: 6.5rem;
  }

  &__buttons {
    width: min-content;
    margin-top: 0.8rem;
  }
}
