$body-bgr-color: #e9e8e4;
$color-primary: #4d75a3;
$color-secondary: #97a4b1;
$color-tertiary: #667a90;
$white: #fff;
$color-alert: #ff6161;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Proxima Nova', sans-serif;

$container-width: 1150px;
