$body-bgr-color: #e9e8e4;
$color-primary: #4d75a3;
$color-secondary: #97a4b1;
$color-tertiary: #667a90;
$color-quaternary: #3f4f5f;
$color-fifth: #ebf4fa;
$color-sixth: #7595b9;
$color-seventh: #a6a6a6;
$color-eighth: #727272;
$color-ninth: #b1b1b1;
$color-tenth: #f2f4f6;
$color-eleventh: #e5e5e5;
$color-twelfth: #a6bad1;
$color-thirteenth: #97a3b1;
$color-fourteenth: #ededed;
$color-fifteenth: #777;
$color-sixteenth: #2b587a;
$white: #fff;
$black: #000;
$color-alert: #ff6161;
$color-success: #00d905;

$primary-font: 'Open Sans', sans-serif;
$secondary-font: 'Proxima Nova', sans-serif;

$container-width: 115rem;
